<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Webpack Template</title>
  <meta name="description" content="description of the site">
  <meta name="keywords" content="key 1, key 2, key 3…" />

  <meta name="google" content="notranslate">

  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
  <div id="app">

    <header-component></header-component>

    <div class="container">
      <div class="banner">
        <a href="https://github.com/undefzahar/webpack-boilerplate" target="_blank"><img
            src="images/content/webpack.png" alt="Logo of Athlon" class="logo"></a>

        <h1 data-aos="fade-up" data-aos-delay="50">
          <a href="https://github.com/undefzahar/webpack-boilerplate" target="_blank">Webpack Template</a>
        </h1>
      </div>
      <div class="menu">
        <div class="row">
          <div class="col-lg-6">
            <div class="title">Menu (router-link)</div>
            <router-link to="/foo">component-1</router-link>
            <router-link to="/bar">component-2</router-link>
          </div>
          <div class="col-lg-6">
            <div class="title">router-view</div>
            <router-view></router-view>
          </div>
        </div>
      </div>

    </div>

    <footer-component></footer-component>
  </div>
</body>

</html>