<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Webpack Template</title>
</head>




<body>
  <h1>
    <a href="https://github.com/undefzahar" target="_blank">Webpack 5 Template Boilerplate</a>
  </h1>
  <img src="images/content/logo.svg" alt="Logo of Athlon" class="logo">

  <p>Demo page illustrating building <strong>SASS</strong>, PostCSS, JavaScript, Fonts, Background Images and Inline
    Images.</p>
  <div id="app">
    <header-component></header-component>
    <router-link to="/foo">Перейти к Foo</router-link>
    <router-link to="/bar">Перейти к Bar</router-link>

    <router-view></router-view>
  </div>


</body>

</html>