body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
}

header {
  width: 100%;
  padding: 15px;
  background: #ffffff;
  color: #000000;

  .logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
}

.banner {
  padding: 20px 0;
  margin-bottom: 100px;
  img {
    margin: 0 auto 20px;
  }
  h1 {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  a {
    padding: 5px 0;
  }
}




footer {
  width: 100%;
  padding: 15px;
  background: #ffffff;
  color: #000000;
}

a {
  color: $link-color;
}

// url('../images/design/webpack.png')